*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.logo-principal{
    width: 100%;    
    margin-bottom: 0;
}

body{
    background-color: #060606;
    color: white;
    font-family: 'Times New Roman', Times, serif    
}
                 /* MENU BARRA */
header{
    position: sticky;
    top: 0px;
    z-index: 2;
}

nav {
    background-color: brown;
    height: 60px;
}

nav ul{  
    padding-right: 4rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    list-style-type: none;
} 

.logo-menu{ /* LOGO PSI */
    height:50px;
    margin-top: 10px;
}  

nav ul li{ 
    padding-left: 7rem;
    font-size: 1.8rem;
    padding-top: 12px;
}

.nav-menu-link{
    color: white;
    border: solid 2px white ;
    text-decoration: none;
    background-color: black;
    padding: 5px;
}
              /* FIN MENU BARRA */

            /* MAIN */

.main-index{

    display: grid;
    grid-template-rows: 1fr 0,5fr 1fr;
    grid-column-gap: 50px;
    grid-template-areas: 
    "marca"
    "aside"
    "productos";
}

.main-cuerpo{
    justify-content: center;
    
    grid-area: marca;
}

.contenedor-titulo-slogan{
    margin-top: 2rem;
    text-align: center;
}

.tituloprincipal-main{
    border: solid 10px white;
    font-size: 7rem;
    padding: 8px;
    display: inline-block;
}

.slogan-main{
    font-size: 4rem;
    margin-top: 8px;
}

.subtitulo-main{
    margin-top: 20px;
    margin-left: 10px;
    padding: 7px;
    border: outset 3px white;
    font-size: 2.5rem;
    text-align: center;
}

.main-cuerpo-parrafo{
    margin: 10px 0px 0px 20px;
    font-size: 20px;
    text-align: justify;
}


            /* ASIDE */



.aside-contenedor{
    
    text-align: center;
    margin-top: 50px;
    grid-area: aside;
}

.contenedor-aside-video{
    width: 50%;
    margin-top: 0px;
    margin-bottom: 80px;
    display: inline-block;
}

.aside-titulo-video{
    font-size: 30px;
    border: outset 4px white;
    margin-right: 10%;
    padding: 10px;
}

.aside-video{
    width: 80%;
    margin-right: 20px;
    margin-top: 30px;
}

.contenedor-aside-spotify{
    width: 40%;
    margin-right: 10px;
    display: inline-block;
}

.aside-titulo-spotify{

    font-size: 30px;
    border: outset 4px white;
    padding: 10px;
    margin-bottom: 50px;
}

.aside-spotify{
    
    margin-right: 20px;
    margin-top: 30px;
    padding: 0px 30px 10px 80px;
}

        /* FIN MAIN */

.productos{
    margin-top: 100px;
    border: double 5px white;
    margin-right: 5px;
    grid-area: productos;
}

.productos-titulo{
    padding: 10px; 
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 35px;
    border: solid 5px brown;
    display: inline-block;
    text-align: center;
}

.productos-fotos-item{
    height: 500px;
    width: 200px;
    margin-bottom: 20px;
    background-size: cover;
}

.contenedor-texto-carousel{
    margin-left: 0;
    text-align: center;
    font-size: 20px;
    color: white;
}
.titulo-texto-carousel{
    background-color: #060606;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    
}

            /* FOOTER */


#final{
    margin-top: 100px;
    /* margin-left: 20px; */
    font-size: 15px;
    margin-bottom: 30px;
}

.footer-lista{
    list-style-type: none;
    margin-left: 10px;
}

.footer-lista-item{
    padding: 5px;
    font-style: italic;
    
}

.footer-item-link{
    color: white;
}

    /* REDES */
.instagram{
    width: 70px;
    position: fixed;
    bottom: 57%;
    right: 0px;
}

.facebook{
    width: 50px;
    position: fixed;
    bottom: 50%;
    right: 12px;
}

.whatsapp{
    width: 70px;
    position: fixed;
    bottom: 0;
    right: 0;
}

/* PAGINA NOSOTROS*/
.nosotros-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


.nosotros-main-texto1{
    margin-top: 10px;
    /* text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; */
    margin-bottom: 2rem;
}

.nosotros-titulo-main{
    font-size: 3rem;
    text-align: center;
    padding: 5px;
    transition: all 2s;
}
.nosotros-titulo-main:hover{
    font-size: 5rem;
}

.nosotros-texto-main{
    font-size: 2rem;
    text-align: center;
}

.nosotros-main-actividad{
    margin-top: 10px;
    text-align: center;
}

.section-nosotros{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nosotros-video{
    text-align: center;
    font-size: 3rem;
}
.nosotros-video h3{
    font-size: 3rem;
    padding: .5rem;
    transition: all 2s;
}
.nosotros-video h3:hover{
    font-size: 5rem;
}

.nosotros-objetivo{
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
}

.nosotros-objetivo p{
    text-align: justify;
}

.nosotros-contenedor-contacto{
    padding: 1rem;
    margin-top: 3rem;
    margin-left: .5rem;
    margin-right: .5rem;
    text-align: center;
    border: solid 0.5rem white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nosotros-redes{
    font-size: 2rem;
}

.nosotros-redes a{
    margin-right: 5px;
}

.nosotros-redes a :hover{
    width: 100px;
    height: 100px;
}

.nosotros-texto-redes{
    font-size: 1.2rem;
}

.nosotros-aplicaciones{
    color: white;
    margin-top: 1.5rem;
    font-size: 2rem;
}
.nosotros-aplicaciones div{
    margin-top: 1rem;
}

.nosotros-aplicaciones a :hover{
    height: 100px;
    width: 100px;
    margin: 10px;
}














/* PAGINA FEEDBACK */

.contenedor-titulo-feedback{
    display: block;
    text-align: center;
    margin-top: 50px;
}

.titulo-feedback{
    padding: 10px;
    display: inline;
    font-size: 40px;
    border: solid 5px white;
}

.contenedor-form{
    /* display: inline-block; */
    padding: 8px;
    /* border: solid 5px white; */
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    

}

.form{
    display: inline-block;
}

.form-item{
    display: block;
    margin: 5px;
    padding: 15px;
}


.barra-valoracion-feedback{
    width: 180px;
}

.form-item-input{
    height: 50px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    
}

.feedback-text-opinion{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    display: block;
    text-align: center;
}

/* PAGINA FAQs */


.titulo-faqs{
    margin-top: 15px;
    margin-left: 450px;
    font-size: 40px;
    border: solid 4px white;
    padding: 10px;
    display: inline-block;
}

.contenedor-flex-faqs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    /* flex-wrap: wrap; */
}

#article-faqs{
    padding: 30px;
    margin-top: 10px;
}

.article-faqs-subtitulo{
    font-size: 25px;
    padding-bottom: 5px;
}

.faqs1{
    margin-top: 40px;
    text-align: center;
}

.faqs2{
    margin-top: 45px;
    text-align: center;
}
.faqs3{
    margin-top: 45px;
    text-align: center;
}  

.article-faqs-texto{
    font-size: 17px;
    text-align: justify;
}



/* PAGINA GALERIA  (NO ES EL MODELO FINAL)*/
.titulo-main-galeria{
    margin-top: 15px;
    font-size: 40px;
    border: solid 4px white;
    padding: 10px;
    display: inline-block;
    position: relative;
    left: 650px;
}

.galeria-titulos{
    width: 100%;
    margin-top: 30px;
}
.titulo-galeria1{
    border: double 5px white;
    font-size: 35px;
    display: inline-block;
    margin-left: 5px;
    padding: 5px;
}
.titulo-galeria2{
    border: double 5px white;
    font-size: 35px;
    display: inline-block;
    margin-left: 650px;
    padding: 5px;
}

.galeria-imagen{
    width: 300px;
    margin-top: 20px;
    padding-right: 10px;
}

@media (max-width: 786px) {
    .nosotros-objetivo-texto{
        text-align: center;
    }
}