* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #030807;
  color: white;
  font-family: 'Times New Roman', Times, serif; }

header {
  position: sticky;
  top: 0;
  z-index: 5; }

nav {
  font-size: 3rem; }

.dropdown-menu {
  font-size: 1.8rem;
  font-weight: bold; }

.nav-item {
  padding-right: 5rem; }

.navbar-logo-power {
  width: 15rem;
  height: 5rem;
  margin-left: 2rem;
  margin-right: 2rem; }

.navbar-search {
  height: 3.5rem;
  width: 95%;
  font-size: 7rem; }

.btn-outline-dark {
  color: #060606;
  width: 10rem;
  font-size: 1.5rem; }

hr {
  margin-top: 3rem; }

#final {
  background: linear-gradient(to bottom, #030807, #1b1b1b);
  padding-top: 3rem;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start; }
  #final ul {
    list-style-type: none;
    margin-left: 1rem;
    width: 90%; }
    #final ul li {
      padding: 5px;
      font-style: italic; }
  #final a {
    color: white; }
    #final a:hover {
      color: #4b4bde; }
  #final div {
    text-align: center; }
    #final div a img {
      width: 15rem;
      height: 10rem; }

.instagram {
  width: 70px;
  position: fixed;
  bottom: 57%;
  right: 0px; }

.facebook {
  width: 50px;
  position: fixed;
  bottom: 50%;
  right: 12px; }

.whatsapp {
  width: 70px;
  position: fixed;
  bottom: 0;
  right: 0; }

.index-contenedor-main {
  width: 100vw;
  height: 100vh; }

.index-contenedor-fondo {
  background: url(../multimedia/fondos/fondopesas.webp);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1; }

.index-body {
  overflow-x: hidden; }

.main-contenedor-texto {
  margin: 3rem 3rem;
  text-align: center; }
  .main-contenedor-texto h1 {
    border: solid 10px white;
    font-size: 7rem;
    padding: 8px;
    display: inline-block; }
  .main-contenedor-texto h2 {
    font-size: 4.5rem;
    font-weight: bold;
    padding: .8rem; }
  .main-contenedor-texto h3 {
    border: outset 3px white;
    font-size: 3rem;
    font-weight: bold;
    padding: .5rem;
    margin: 1rem; }
  .main-contenedor-texto article {
    font-size: 2.5rem;
    padding-top: .5rem;
    font-weight: bold; }

.main-contenedor-aside {
  margin-top: 5rem;
  margin-left: 5rem;
  text-align: center; }
  .main-contenedor-aside p {
    text-align: center;
    font-size: 3rem;
    border: outset 2px white;
    display: inline-block;
    margin-left: 1rem; }

.aside-video {
  width: 100%;
  height: 50%; }

.contenedor-aside-spotify {
  text-align: center; }
  .contenedor-aside-spotify h3 {
    font-size: 2.5rem;
    font-weight: bold;
    padding: .5rem;
    margin: 1rem; }
  .contenedor-aside-spotify iframe {
    width: 50%;
    height: 30rem; }

@media screen and (max-width: 450px) {
  .contenedor-aside-video {
    display: none; } }

@media screen and (min-width: 450px) and (max-width: 576px) {
  .index-contenedor-fondo {
    background-repeat: repeat; }
  .main-contenedor-texto {
    padding-top: 5rem;
    margin: 0px;
    padding-bottom: 0px; }
    .main-contenedor-texto h1 {
      font-size: 4rem; }
    .main-contenedor-texto h2 {
      font-size: 3rem; }
    .main-contenedor-texto h3 {
      font-size: 2.5rem; }
    .main-contenedor-texto article {
      font-size: 2rem; }
  .main-contenedor-aside {
    margin-top: 1rem;
    margin-left: 1rem; }
  .aside-video {
    width: 1000%;
    height: 100%; } }

@media screen and (max-width: 993px) {
  .index-contenedor-fondo {
    background-repeat: repeat; }
  .main-contenedor-texto {
    margin-top: 2rem;
    margin-left: 0px;
    margin-bottom: 1rem; }
    .main-contenedor-texto h1 {
      font-size: 4rem; }
  .main-contenedor-aside {
    margin-top: 1rem;
    margin-left: 1rem; }
  .contenedor-aside-video {
    margin-top: 2rem;
    width: 100%;
    height: 100%; }
  .aside-video {
    text-align: left;
    height: 70%;
    width: 80%; } }

@media (min-width: 993px) and (max-width: 1499px) {
  .index-contenedor-fondo {
    background-repeat: repeat;
    background-size: cover;
    text-align: center;
    justify-content: center; }
  .main-contenedor-texto {
    width: 50%; }
    .main-contenedor-texto h1 {
      font-size: 5rem; }
  .main-contenedor-aside {
    width: 30%; } }

.nosotros-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }

.nosotros-main-texto1 {
  margin-top: 10px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem; }

.nosotros-titulo-main {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
  padding: 5px;
  position: relative;
  transition: all 2s;
  animation-name: animacionTituloNosotros;
  animation-duration: 5s;
  animation-timing-function: linear;
  z-index: -1; }

@keyframes animacionTituloNosotros {
  0% {
    color: #060606;
    font-size: 0px;
    left: -15rem; }
  25% {
    color: #1d2128;
    font-size: 0.5rem;
    left: 0rem; }
  50% {
    color: #62646a;
    font-size: 2rem;
    left: 15rem; }
  75% {
    color: brown;
    font-size: 6rem;
    left: -5rem; }
  90% {
    color: #abb4c2;
    font-size: 5.6rem;
    left: 8rem; }
  95% {
    color: #ffff;
    font-size: 3rem;
    left: 0; } }

.nosotros-texto-main {
  font-size: 2rem;
  text-align: center; }

.nosotros-main-actividad {
  margin-top: 10px;
  text-align: center; }
  .nosotros-main-actividad h3 {
    font-size: 2.5rem;
    border: solid 3px white;
    margin-bottom: 1rem; }

.nosotros-imagen-actividad {
  width: 35rem;
  height: 30rem;
  transition: all 3s; }

.section-nosotros {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.nosotros-video {
  text-align: center;
  font-size: 3rem; }
  .nosotros-video h3 {
    font-size: 3rem;
    padding: .5rem;
    transition: all 2s; }
    .nosotros-video h3:hover {
      font-size: 5rem; }

.nosotros-objetivo {
  margin-top: 3rem 1rem 1rem 0px;
  align-self: center; }
  .nosotros-objetivo h2 {
    font-size: 3rem;
    text-align: center;
    text-decoration: underline; }
  .nosotros-objetivo p {
    text-align: center;
    font-size: 2rem; }

.nosotros-contenedor-contacto {
  padding: 1rem;
  margin-top: 3rem;
  margin-left: .5rem;
  margin-right: .5rem;
  text-align: center;
  border: solid 0.5rem white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.nosotros-redes h4 {
  font-size: 2.2rem;
  text-decoration: underline; }

.nosotros-redes p {
  font-size: 1.4rem; }

.nosotros-redes img {
  margin-right: 5px; }
  .nosotros-redes img:hover {
    width: 9rem;
    height: 9rem; }

.nosotros-texto-redes {
  font-size: 1.2rem; }

.nosotros-aplicaciones {
  color: white;
  margin-top: 1.5rem;
  font-size: 2rem; }
  .nosotros-aplicaciones div {
    margin-top: 1rem; }
    .nosotros-aplicaciones div img:hover {
      height: 9rem;
      width: 9rem;
      margin: 10px; }

.titulo-faqs {
  color: #060606;
  font-weight: bold;
  margin-top: 1.5rem;
  font-size: 3.5rem;
  border: solid 4px whitesmoke;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation-name: animacionFaqs;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

@keyframes animacionFaqs {
  0% {
    color: #060606; }
  50% {
    color: white; }
  100% {
    color: black; } }

.faqs {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .faqs article {
    margin: 2rem;
    width: 30%;
    padding: 8px;
    border: solid 3px white; }
    .faqs article h2 {
      font-size: 3.5rem;
      text-decoration: underline;
      color: lightgray;
      font-weight: bold; }
    .faqs article a {
      font-size: 2.3rem; }
    .faqs article p {
      font-size: 2.1rem;
      text-align: left;
      padding: 1rem 1rem 0px 1rem; }

@media (max-width: 768px) {
  .titulo-faqs {
    font-size: 3rem; }
  .faqs article {
    width: 90%; }
  .faqs article h2 {
    font-size: 2.5rem; }
  .faqs article p {
    font-size: 1.7rem; } }

@media (min-width: 769px) and (max-width: 991px) {
  .faqs article {
    width: 40%; }
  .faqs article h2 {
    font-size: 2.8rem; }
  .faqs article p {
    font-size: 2rem; } }

.contenedor-titulo-feedback {
  display: block;
  text-align: center;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .contenedor-titulo-feedback h1 {
    padding: 1rem;
    display: inline;
    font-size: 3.5rem;
    border: solid 5px white; }

.contenedor-form {
  padding: 8px;
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
  color: #060606;
  font-weight: bold; }

.feedback-form {
  display: inline-block;
  width: 45%;
  background-color: #62646a;
  border-radius: 28px;
  padding: 2rem 1.5rem; }
  .feedback-form label {
    display: inline-block;
    margin: 5px;
    padding: 15px; }
  .feedback-form input[type="text"],
  .feedback-form input[type="email"] {
    height: 5rem;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    padding-top: .6rem; }
  .feedback-form textarea {
    text-align: center;
    width: 90%;
    height: 100px;
    border: 1px solid #060606;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 0px 2rem 1rem 2rem;
    display: block;
    transition: height 5s; }
    .feedback-form textarea:focus {
      height: 15rem; }

.botones input {
  margin: 3px;
  padding: 5px;
  color: #fefefe;
  background-color: #060606;
  border: 2px solid #060606;
  border-radius: 6px; }
  .botones input:hover {
    background-color: #fafafa;
    color: #060606;
    font-weight: bold; }

.form-aviso {
  font-size: 1.6rem;
  margin-top: 1rem;
  text-decoration: dotted;
  text-align: left; }
  .form-aviso span {
    font-size: 3rem; }

.obligatorio {
  color: #d7f07b;
  font-weight: bold;
  font-size: 2.25rem; }

@media screen and (max-width: 500px) {
  .feedback-form {
    width: 90%; } }

@media screen and (max-width: 992px) {
  .feedback-form {
    width: 75%; } }

.main-galeria {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-galeria h1 {
    margin-top: 3rem;
    border: double 5px white;
    font-size: 3.5rem;
    display: inline-block;
    margin-left: 5px;
    padding: 5px; }

.galeria-productos {
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .galeria-productos article {
    margin: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .galeria-productos article div {
      margin: 5rem 10rem;
      font-size: 2rem;
      text-align: center;
      font-weight: bold;
      text-decoration: blink;
      display: flex;
      flex-direction: column; }
      .galeria-productos article div h2 {
        font-size: 2.9rem;
        text-align: center;
        margin-bottom: 1rem; }

.galeria-instalaciones {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .galeria-instalaciones h3 {
    border: double 5px white;
    font-size: 3.5rem;
    display: inline-block;
    padding: 5px; }
  .galeria-instalaciones a {
    text-align: center; }
    .galeria-instalaciones a img {
      width: 50vw;
      margin-top: 2rem;
      padding-right: 1rem; }
  .galeria-instalaciones p {
    margin-top: 1rem;
    font-size: 1.8rem; }

@media screen and (max-width: 815px) {
  .galeria-productos article {
    flex-direction: column;
    justify-content: center; }
    .galeria-productos article div {
      margin-top: 15rem; }
      .galeria-productos article div h2 {
        font-size: 2.7rem; }
  .galeria-instalaciones a img {
    width: 80vw; } }

@media (max-width: 991px) {
  nav {
    font-size: 2rem; }
  .navbar-logo-power {
    width: 20rem; }
  .dropdown-menu {
    font-size: 1.5rem; }
  .navbar-search {
    height: 3.5rem;
    width: 90%;
    font-size: 7rem; }
  .nosotros-objetivo-texto {
    text-align: center; } }
